<h1>My Profile</h1>

<ul>
  <li> First name: <%= @profile.first_name %></li>
  <li> Last name: <%= @profile.last_name %></li>
  <li> Age: <%= @profile.age%></li>
  <li> Email: <%= current_user.email %></li>
</ul>


