
  <h1>Shopping Cart</h1>
  <% if @cart.empty? %>
    <p>Nothing is inside your shopping cart.</p>
  <% else %>
    <ul>
      <% @cart.each do |reel| %>
        <li><%= reel.item_name %>  <%= button_to "Remove item", remove_from_cart_path(reel), method: :delete %></li>
      <% end %>
    </ul>
  <% end %>

<button data-stripe="payment">Buy Now</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
    document.querySelector("[data-stripe='payment']").addEventListener("click", () =>{ const stripe = Stripe("<%= Rails.application.credentials.dig(:stripe, :public_key) %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
    })
</script>