<h1>Catalogue</h1>

<h2><%= user_signed_in? ? (link_to 'New', new_reel_path, class: 'btn btn-primary') : '' %></h2>

<% @reels.each do |reel| %>
  <p>
    <%= cl_image_tag reel.reel_pic.key, transformation: ["media_lib_thumb"], cloud_name: 'dm2ebszpf' %>
    <%= link_to reel.brand.brand, reel %>
    <%= link_to reel.item_name, reel %>
  </p>
<% end %>

